<form id="frm-package-new">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input class="form-control" id="txt-package-email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="txt-package-price">Price</label>
        <input class="form-control" id="txt-package-price" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="txt-package-price">Add Modules</label>
        
    </div>
    <button id="btn-package-add-new" class="btn btn-primary">Add Package</button>
</form>
 
