@model BeMRCOG.Models.Course
<style>
    .paddedLeft {
        padding-left: 25px;
    }
</style>
<div class="container" style="padding:20px;">
    <div>
        <label for="span-course-name" class="col-form-label col-form-label-sm">Course Name</label>
        <span id="span-course-name">@Model.Name</span>
    </div>
    <br />
    <div>
        <label for="span-course-name" class="col-form-label col-form-label-sm">Modules</label>
        @if (Model.Modules.Count == 0)
        {
            <label class='label label-default font-weight-bold text-danger'>No Entries.</label>
        }
        else
        {
            <table class="table table-condensed pre-scrollable paddedLeft">
                @foreach (var module in Model.Modules)
                {
                    <tr>
                        <td>@module.Name</td>
                    </tr>
                }
            </table>
        }
    </div>
    <br />
    <div>
        <label for="span-course-name" class="col-form-label col-form-label-sm">Packages</label>
        @if (Model.Packages.Count == 0)
        {
            <label class='label label-default font-weight-bold text-danger'>No Entries.</label>
        }
        else
        {
            <table class="table table-condensed pre-scrollable paddedLeft">
                <tr>
                    <td>Name</td>
                    <td>Count</td>
                    <td>Price</td>
                </tr>
                @foreach (var package in Model.Packages)
                {
                <tr>
                    <td width="200px">@package.Name</td>
                    <td width="200px">@package.ModuleCount</td>
                    <td>$@package.Price</td>
                </tr>
                }
            </table>
        }
    </div>
</div>


